
.open-sans-port {
  font-family: "Open Sans", sans-serif;
  
  
  font-style: normal;
 

}


header{
   
    /* background-color: #FFF8F3; */
    background: url("./images/developer.png"), url("./images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
    
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 51px;
    list-style-type: none;
    font-size: 20px;
    color: #474747;
    align-items: center;
    cursor: pointer;
}

.Blog h2{
    font-size: 45px;
}

.orange{
    color: #FD6E0A
}


.bts{
    background-color: #FD6E0A;
    color: #FFF8F3;
    padding: 18px 35px 19px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

#Bannar{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}

.banner-content h2{
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 45px;

}

.banner-content h1{
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 85px;
}
.banner-content p{
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
}

.banner-content #Contact{
    
    color: #FD6E0A;
    padding: 18px 35px 19px;
    margin-left: 30px;
    border-radius: 5px;
    /* border: 1px #FD6E0A; */
    font-size: 20px;
    font-weight: bold;
    border-color: #FD6E0A;
    cursor: pointer;
}
#Banner .banner-content{
     max-width: 585px;
    max-height: 262px
}
#banner .image img{
    max-width: 586px;
    max-height: 676px;
    vertical-align: middle;
}
 #About-Container{
    padding-top: 131px;
 }

 #About-Container .About{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
 }
/* .heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto; */


 .heading h1{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;

 }
 .heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
 }
#About-Container .about-info{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.about-info .info p{
     
    color: #757575;
    font-size: 20px;
    line-height: 30px;

}

.about-info .info h4{

    font-weight: bold;
    font-size: 20px;
   
}
.skills-container{

    padding-top: 130px;

}

#Skills{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* text-align: center; */


}

.descriptions{
    max-width: 827px;
    max-height: 168px;
    justify-content: center;
    margin: 0 auto;

}

.descriptions h1{

    font-size: 35px;
    font-weight: bold;
    padding-bottom: 30px;
    text-align: center;
}

.descriptions p{
    line-height: 30px;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
    text-align: center;

}

.about-skills{
    display: flex;
    /* box-shadow: 5px; */
    gap: 24px;
    

}
.about-skills .skills-logo{
    /* border: 1px solid red; */
    padding: 30px;
    /* border: 1px solid red; */
    border-radius:5px; 
    box-shadow: 5px;
    /* height: 267px; */
    /* width: 377px; */
    box-shadow: 0px 6px 50px 0px #0000001e;
}

.about-skills .skills-logo img{
    padding-bottom: 30px;
    max-width: 44px;
}
.about-skills .skills-logo h4{
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.about-skills .skills-logo p{
    line-height: 28px;
    color: #757575;
    font-size: 16px;

}

#resume{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    
}
.summary{
    text-align: center;
    font-size: bold;
    font-size: 35px;
    margin-top: 130px ;
    margin-bottom: 113px ;
    
}

.Education-Experience{
    display: flex;
    gap: 25px;
}
.Education-Experience .edu{
    /* max-width: 511px; */
    /* max-height: 175px; */
}
.Education-Experience .edu h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
}

.edu h3{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 30px;
}
.edu h4{
    padding-bottom: 20px;
    color: #757575;
    font-size: 20px;
}

.edu p{
    line-height: 28px;
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;

}
.button-aling{
    text-align: center;
}
#resume .btn{
     background-color: #FD6E0A;
    color: #FFF8F3;
    padding: 18px 35px 19px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
    
}

#ending{
    width: 71%;
    background-color: #FFF8F3;
    max-width: 1600px;
    max-height: 780px;
    
}

#ending .Last{
    display: flex;
    gap: 117px;
    margin-left: 230px;
}
.right-side p{
    font-size: 16px;
    color: #474747;
    line-height: 28px;
}
.right-side .left-side h1{
    font-size: 35px;
    font-weight: bold;

}