
.open-sans-port {
  font-family: "Open Sans", sans-serif;
  
  
  font-style: normal;
 

}


header{
   
    /* background-color: #FFF8F3; */
    background: url("./images/developer.png"), url("./images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
    
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 51px;
    list-style-type: none;
    font-size: 20px;
    color: #474747;
    align-items: center;
    cursor: pointer;
}

.Blog h2{
    font-size: 45px;
}

.orange{
    color: #FD6E0A
}


.bts{
    background-color: #FD6E0A;
    color: #FFF8F3;
    padding: 18px 35px 19px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

#Bannar{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}

.banner-content h2{
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 45px;

}

.banner-content h1{
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 85px;
}
.banner-content p{
    margin-bottom: 30px;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
}

.banner-content #Contact{
    
    color: #FD6E0A;
    padding: 18px 35px 19px;
    margin-left: 30px;
    border-radius: 5px;
    /* border: 1px #FD6E0A; */
    font-size: 20px;
    font-weight: bold;
    border-color: #FD6E0A;
    cursor: pointer;
}
#Banner .banner-content{
     max-width: 585px;
    max-height: 262px
}
#banner .image img{
    max-width: 586px;
    max-height: 676px;
    vertical-align: middle;
}
 #About-Container{
    padding-top: 131px;
 }

 #About-Container .About{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
 }


 .heading h1{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;

 }
 .heading p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
 }
#About-Container .about-info{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.about-info .info p{
     
    color: #757575;
    font-size: 20px;
    line-height: 30px;

}

.about-info .info h4{

    font-weight: bold;
    font-size: 20px;
   
}