
.open-sans-port {
  font-family: "Open Sans", sans-serif;
  
  
  font-style: normal;
 

}

body{
    /* background-color: aquamarine; */
}
header{
   
    background-color: #FFF8F3;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}